Source: hifi-deps
Version: 0.4.1-github-actions
Description: Collected dependencies for High Fidelity applications
Build-Depends: bullet3, draco, etc2comp, glad, glm, nvtt, openexr (!android), openssl (windows), polyvox, opus, tbb (!android), vhacd, webrtc (!android), zlib
